<section>
  <h2>Squads</h2>
  <ul>
    <% squads.slice(2).forEach(squad => { %>
      <li><a href="/squad/<%= squad.id %>">Squad <%= squad.name %>, id <%= squad.id %>, tribe_id <%= squad.tribe_id %></a></li>
    <% }) %>
  </ul>
</section>
</body>
</html>