/* ================================================ */
/* MAIN & ROOT CSS */
/* ================================================ */

:root {
  /* colors */
  --black: #000;
  --white: #fff;
  --background-color: #272932;
  --primarypurple: #ad97c9;

  /*fonts*/
  --general-font: "Dosis", "Helvetica", Sans-Serif;
  --card-font: "Inter", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--card-font);
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 16px;
  line-height: 120%;
  font-family: Open Sans, Helvetica, sans-serif;
  background-color: var(--background-color);
}

/* ================================================ */
/* DASHBOARD PAGE */
/* ================================================ */
.dashboard {
  display: grid;
  width: 100%;
  height: 100%;
  grid-gap: 0;
  grid-template-columns: 300px auto;
  grid-template-rows: 80px auto;
  grid-template-areas:
    "menu search"
    "menu content";

  & .introductie {
    text-align: center;
    margin: 1em;
    margin-top: 2em;

    & h1 {
      color: rgba(255, 255, 255, 0.98);
      font-size: 2rem;
      margin: 1em;
    }

    & h3 {
      color: var(--primarypurple);
    }
  }

  .menu-wrap {
    grid-area: menu;
    padding-bottom: 3em;
    height: 100%;
    overflow: auto;
    border-right: 1px solid black;
    background-color: #ad97c9;

    & .user {
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 0;
      padding: 0 3em;

      & .user-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;

        & img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        & figcaption {
          margin: 0;
          padding: 0 0 0 1em;
          color: var(--white);
          font-weight: 700;
          font-size: 0.875em;
          line-height: 100%;
        }
      }
    }
  }

  /* ================================================ */
  /* DASHBOARD LEFTSIDE */
  /* ================================================ */

  nav {
    display: block;
    padding: 0 1.2em;
    margin: 0;

    & section {
      display: block;
      padding: 3em 0 0;
    }

    & .toolbox {
      background-color: #272932;
      border-radius: 4px;
      width: 250px;
      text-wrap: nowrap;
      padding: 8px;
      box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }

    & h3 {
      margin: 0;
      font-size: 0.875em;
      text-transform: uppercase;
      color: white;
      font-weight: 600;
    }

    ul {
      display: block;
      padding: 0;
      margin: 0;
    }

    li {
      display: block;
      padding: 0;
      margin: 1em 0 0;

      & a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: white;
        text-decoration: none;
        font-weight: 600;
        font-size: 0.875em;
        transition: color 0.15s ease;

        & a.hover svg {
          display: block;
          margin-right: 1em;

          path,
          circle {
            fill: lighten(white, 10%);
            transition: fill 0.15s ease;
          }
        }
      }
    }
  }
}

.content-wrap {
  grid-area: content;
  padding: 3em;
  overflow: auto;
  & hr {
    background-color: var(--primarypurple);
    border: none;
    height: 2px;
  }
}


.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  margin: 1em;
  }

  .hand-print {
    height: 30em;
    width: 100%;
    background-color: #519879;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .foot-print {
    height: 30em;
    width: 100%;
    background-color: #FB8B24;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inside-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    }

  .handprint-inside {
    background-color: #519879;
    border-radius: 10px;
  }

  .footprint-inside {
    background-color: #FB8B24;
    border-radius: 10px;
  }