/* ===============
    MAIN & ROOT CSS 
   =============== */
:root {
  /* colors */
  --black: #000;
  --white: #fff;
  --background-color: #272932;
  --primarypurple: #ad97c9;

  /*fonts*/
  --general-font: "Dosis", "Helvetica", Sans-Serif;
  --card-font: "Inter", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--card-font);
}

body {
  background: var(--background-color);
  height: 100vh;
}

h2 {
  color: var(--white);
}

h1 {
  color: rgba(255, 255, 255, 0.98);
  font-size: 2rem;
}

p {
  max-width: 65ch;
  margin: auto;
  float: none;
  color: #fff;
  text-align: center;
  line-height: 150%;
  letter-spacing: 2px;
}

/* nieuw */
@white: #fff;
@blue: #4b84fe;
@colorDark: #1b253d;
@colorLight: #99a0b0;
@red: #fa5b67;
@yellow: #ffbb09;
@bg: #f5f5fa;
@bgDark: #ede8f0;

* {
  box-sizing: border-box;
}

html,
body {
  color: @colorLight;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: @bg;
  font-size: 16px;
  line-height: 120%;
  font-family: Open Sans, Helvetica, sans-serif;
}

.dashboard {
  display: grid;
  width: 100%;
  height: 100%;
  grid-gap: 0;
  grid-template-columns: 300px auto;
  grid-template-rows: 80px auto;
  grid-template-areas:
    "menu search"
    "menu content";
}

.menu-wrap {
  grid-area: menu;
  padding-bottom: 3em;
  height: 100%;
  overflow: auto;
  border-right: 1px solid black;

  .user {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0 3em;

    .user-avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    figcaption {
      margin: 0;
      padding: 0 0 0 1em;
      color: var(--primarypurple);
      font-weight: 700;
      font-size: 0.875em;
      line-height: 100%;
    }
  }

  nav {
    display: block;
    padding: 0 3em;

    section {
      display: block;
      padding: 3em 0 0;
    }

    h3 {
      margin: 0;
      font-size: 0.875em;
      text-transform: uppercase;
      color: white;
      font-weight: 600;
    }

    ul {
      display: block;
      padding: 0;
      margin: 0;
    }

    li {
      display: block;
      padding: 0;
      margin: 1em 0 0;

      a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: white;
        text-decoration: none;
        font-weight: 600;
        font-size: 0.875em;
        transition: color 0.15s ease;

        & a.hover svg {
          display: block;
          margin-right: 1em;

          path,
          circle {
            fill: lighten(white, 10%);
            transition: fill 0.15s ease;
          }
        }
      }
    }
  }
}
.content-wrap {
  grid-area: content;
  padding: 3em;
  overflow: auto;
}

.introductie {
	text-align: center;
	margin: 1em;
  margin-top: 2em;


	h1 {
		margin: 0.5em;
	}
}

progress {
  color: purple;
}