/* ===============
    MAIN & ROOT CSS 
   =============== */
:root {
  /* colors */
  --black: #000;
  --white: #fff;
  --background-color: #272932;
  --primarypurple: #ad97c9;

  /*fonts*/
  --general-font: "Dosis", "Helvetica", Sans-Serif;
  --card-font: "Inter", sans-serif;
}

* {
  font-family: var(--card-font);
}

h1 {
  margin-top: 5vh;
  color: var(--white);
  text-align: center;
  font-size: 2.5rem;
}

h2 {
  color: var(--white);
  text-align: center;
  font-size: 1rem;
}

body {
  background: var(--background-color);
  height: 100vh;
}

select {
  padding: 1em;
  border-radius: 20px;
}

input {
  padding: 1em;
  padding-left: 7em;
  padding-right: 7em;
  border-radius: 20px;
  width: 100%;
  border: solid black 1px;
  background-color: var(--primarypurple);
  cursor: pointer;
  transition: all 0.5s;
}

input:hover {
  background-color: #7e49c3;
  transform: scale(1.05);
}

.sdgarticle {
  display: flex;
  justify-content: center;
  margin: 1em;
  margin-top: 2em;
  margin-bottom: 5em;
}

.flex {
  display: flex;
  justify-content: center;
}

.company {
  padding: 1em;
  background-color: var(--primarypurple);
  margin-right: 1em;
  border-radius: 20px;
  width: 15em;
  text-decoration: none;
  list-style-type: none;
}

/* addStakeholder page */
.wrapper {
  width: 50%;
  margin: 1em;
  display: inline-flex;
  background: var(--background-color);
  align-items: center;
  border-radius: 5px;
}

.wrapper .option {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly; /* Verplaatst van .wrapper naar .wrapper .option */
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  height: 3em;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}

.option:hover {
  background-color: #b2a0c8;
}

.wrapper .option .dot::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #9c7cc7;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}

input[type="radio"] {
  display: none;
}

.option {
  display: inline-block;
  cursor: pointer;
}

.option span {
  font-size: 20px;
  color: #808080;
}

.option-1,
.option-2,
.option-3,
.option-4,
.option-5 {
  background: white;
}

input[type="radio"]:checked + label {
  background-color: var(--background-color);
  color: white;
}

label {
  color: white;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin-left: 2em;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.field {
  display: grid;
  grid-auto-flow: row;
  gap: 1em;
  width: 100%;
}

textarea {
  border-radius: 5px;
  background-color: lightgrey;
  resize: none;
}

button {
  width: 50%;
  padding: 1em;
  padding-left: 7em;
  padding-right: 7em;
  border-radius: 20px;
  width: 100%;
  border: solid black 1px;
  background-color: var(--primarypurple);
  cursor: pointer;
}

.succesvol {
  color: lightgreen;
}