<%- include('./partials/headbedrijf.ejs') %>

<div class="dashboard">
  <div>
    <div class="introductie">
    <h1>Welkom bij uw dashboard!</h1>
    <h2>Hier kunt u tussen alles navigeren</h2>
  </div>
  </div>
  <header class="menu-wrap">
    <figure class="user">
      <div class="user-avatar">
        <img
          src="https://www.w3schools.com/howto/img_avatar.png"
          alt="<%=company.name%> foto"
        />
      </div>
      <figcaption><%=company.name%></figcaption>
    </figure>

    <nav>
      <section class="tools">
        <h3>Tools</h3>

        <ul>
          <li>
            <a href="#" class="active">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z" fill="#fff"/>
              </svg>
            <h3>Enquete invullen</h3>
            </a>
          </li>

          <li>
            <a href="/addStakeholder/<%=company.id%>">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M13 7L11 7 11 11 7 11 7 13 11 13 11 17 13 17 13 13 17 13 17 11 13 11z                 
              M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10c5.514,0,10-4.486,10-10S17.514,2,12,2z M12,20c-4.411,0-8-3.589-8-8 s3.589-8,8-8s8,3.589,8,8S16.411,20,12,20z" fill="#fff"/>
              </svg>
              <h3>Stakeholder toevoegen</h3>
            </a>
          </li>
        </section>
      </nav>
    </header>
          <main class="content-wrap">
hi
          </main>

</div>
