<%- include('./partials/headinlog.ejs') %>

<h1><%= company.name %></h1>

<section class="flex">
  <form id="myForm" class="form" method="post" action="/stakeholder/<%= company.id%>">
    <h2>Kies uw type stakeholder</h2>
    <div class="wrapper">
      <input type="radio" id="medewerkers" name="medewerkers"/>
      <label for="medewerkers" class="option option-1">
        <span>Medewerkers</span>
      </label>

      <input type="radio" id="financiers" name="financiers"/>
      <label for="financiers" class="option option-2">
        <span>Financiërs</span>
      </label>

      <input type="radio" id="leveranciers" name="leveranciers"/>
      <label for="leveranciers" class="option option-3">
        <span>Leveranciers</span>
      </label>

      <input type="radio" id="klanten" name="klanten"/>
      <label for="klanten" class="option option-4">
        <span>Klanten</span>
      </label>

      <input type="radio" id="omgeving" name="omgeving"/>
      <label for="omgeving" class="option option-5">
        <span>Omgeving</span>
      </label>
    </div>

    <section class="flex">
      <div class="wrapper">
        <div class="field">
          <label for="name">Naam</label>

          <textarea
            class="textbox"
            name="message"
            id="name"
            required
            placeholder="Typ hier de naam van de stakeholder"
          ></textarea>
          <div class="flex">
            <a>
              <input type="submit" value="Opslaan" />
            </a>
          </div>
        </div>
      </div>
    </section>
  </form>
</section>
<div id="successMessage" style="display: none;">
  <h2 class="succesvol">Het formulier is succesvol verzonden!</h2>
</div>
